<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="smtpHost" value="" />
		<add key="smtpPort" value="" />
		<add key="emailKey" value="" />
		<add key="sendEmial" value="" />
		<add key="reciveEmial" value="" />

		<add key="pushPlusToken" value="" />
	</appSettings>
</configuration>