<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="smsCodeKey" value="验证码±verification±code±인증±代码±随机码" />
		<add key="smtpHost" value="" />
		<add key="smtpPort" value="" />
		<add key="emailKey" value="" />
		<add key="sendEmial" value="" />
		<add key="reciveEmial" value="" />
		<add key="pushPlusToken" value="" />
		<add key="WeChatQYID" value="" />
		<add key="WeChatQYApplicationID" value="" />
		<add key="WeChatQYApplicationSecret" value="" />
		<add key="IsEnableCustomTGBotApi" value="" />
		<add key="CustomTGBotApi" value="" />
		<add key="TGBotToken" value="" />
		<add key="TGBotChatID" value="" />
		<add key="DingTalkAccessToken" value=""/>
		<add key="DingTalkSecret" value=""/>
		<add key="BarkUrl" value="" />
		<add key="BrakKey" value="" />
	</appSettings>
</configuration>