<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="smtpHost" value="" />
		<add key="smtpPort" value="" />
		<add key="emailKey" value="" />
		<add key="sendEmial" value="" />
		<add key="reciveEmial" value="" />
		<add key="pushPlusToken" value="" />
		<add key="WeChatQYID" value="" />
		<add key="WeChatQYApplicationID" value="" />
		<add key="WeChatQYApplicationSecret" value="" />
		<add key="TGBotToken" value="" />
		<add key="TGBotChatID" value="" />
		<add key="DingTalkAccessToken" value=""/>

	</appSettings>
</configuration>